h1 {
  color: #3e606f;
}

.moreh1 {
  color: #e6e6e6;
}

h2 {
  color: #193441;
}
.masthead-heading,
.masthead-intro {
  text-align: center;
  color: #fff;
}
.masthead {
  padding: 15em 0;
  background-image: url('/Assets/aboutheaderbackground.jpeg');
  background-color: #1faaff;
  background-size: cover;
  background-repeat: no-repeat;
}
.masthead-intro {
  margin-bottom: 0.1em;
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 2em;
}
.masthead-heading {
  margin-top: -0.2em;
  font-family: 'Open Sans', 'Georgia', sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.social {
  text-align: center;
  color: #fef;
  padding: 10px;
}

.social > li {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.about {
  cursor: pointer;
  background-color: #a0192e;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
}
.about h1 {
  padding: 10px 0;
  margin-bottom: 20px;
}
.about h2 {
  opacity: 0.8;
}
.about span {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  border-radius: 50%;
  font-size: 40px;
  color: #ffffff;
  opacity: 0.7;
  background-color: #dc3652;
  border: 2px solid #dc3652;

  transition: all 0.5s ease;
}
.about-item:hover span {
  opacity: 1;
  border: 2px solid #e6e6e6;
  font-size: 42px;
}
.about-item:hover h2 {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.about .lead {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: bold;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
