a {
 cursor: pointer;
}
.fa {
 color: white;
}
a:hover {
 color: white;
}
/* .fa {
 padding: 20px;
 font-size: 30px;

 text-align: center;
 text-decoration: none;
}
.fa-facebook {
 background: #3b5998;
 color: white;
}

.fa-twitter {
 background: #55acee;
 color: white;
}
.fa-youtube {
 background: #bb0000;
 color: white;
}

.fa-instagram {
 background: #125688;
 color: white;
}  */

#surveyPrompts {
 background-color: rgba(0, 0, 0, 0.03);
 width: 100%;
}
@media (min-width: 992px) {
 #surveyContainer {
  width: 70%;
 }
 #surveyPrompts {
  width: 30%;
 }
}
